li.media {
    position: relative !important;
}

li.media a {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    text-decoration: none !important; /* No underlines on the link */
    z-index: 10 !important; /* Places the link above everything else in the div */
    background-color: #FFF !important; /* Fix to make div clickable in IE */
    opacity: 0 !important; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1) !important; /* Fix to make div clickable in IE */
}